<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>local</key>
		<string>A1</string>
		<key>visitor</key>
		<string>B2</string>
		<key>location</key>
		<string>CenturyLink Field - Seattle</string>
		<key>time</key>
		<string>18 : 30</string>
		<key>date</key>
		<string>2016/06/16</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>local</key>
		<string>B1</string>
		<key>visitor</key>
		<string>A2</string>
		<key>location</key>
		<string>Metlife Stadium - East Rutherford</string>
		<key>time</key>
		<string>17 : 00</string>
		<key>date</key>
		<string>2016/06/17</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>local</key>
		<string>D1</string>
		<key>visitor</key>
		<string>C2</string>
		<key>location</key>
		<string>Gillette Stadium - Foxborough</string>
		<key>time</key>
		<string>16 : 00</string>
		<key>date</key>
		<string>2016/06/18</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>local</key>
		<string>C1</string>
		<key>visitor</key>
		<string>D2</string>
		<key>location</key>
		<string>Levi&apos;s Stadium - Santa Clara</string>
		<key>time</key>
		<string>19 : 00</string>
		<key>date</key>
		<string>2016/06/18</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>local</key>
		<string>W25</string>
		<key>visitor</key>
		<string>W27</string>
		<key>location</key>
		<string>NRG Stadium - Houston</string>
		<key>time</key>
		<string>18 : 00</string>
		<key>date</key>
		<string>2016/06/21</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>local</key>
		<string>W26</string>
		<key>visitor</key>
		<string>W28</string>
		<key>location</key>
		<string>Soldier Field - Chicago</string>
		<key>time</key>
		<string>17 : 00</string>
		<key>date</key>
		<string>2016/06/22</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>local</key>
		<string>L29</string>
		<key>visitor</key>
		<string>L30</string>
		<key>location</key>
		<string>University of Phoenix Stadium - Glendale</string>
		<key>time</key>
		<string>17 : 00</string>
		<key>date</key>
		<string>2016/06/25</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>local</key>
		<string>W29</string>
		<key>visitor</key>
		<string>W30</string>
		<key>location</key>
		<string>MetLife Stadium - East Rutherford</string>
		<key>time</key>
		<string>17 : 00</string>
		<key>date</key>
		<string>2016/06/26</string>
	</dict>
</array>
</plist>
